
/* ================ DOCK 1 ================ */
#dock { position: relative; top: 70px; width:800px; left:190px; display:block;}
.dock-container { position: relative; top: -8px; height: 50px; padding-left: 20px; }
a.dock-item { display: block; width: 50px; position: absolute; bottom: 0; text-align: center; text-decoration: none; color: #333; }
.dock-item span { display: none; padding-left: 20px; }
.dock-item img { border: 0; margin: 5px 10px 0px; width: 100%; }
.sub_meniu {width:800px; height:auto; min-height:200px; left:220px; position:relative; top:120px;}
.sub_meniu div.sus {width:800px; display:block; background:url('../images/meniu-sus.png') repeat-y top left;}
.sub_meniu div.jos {width:800px; display:block; height:23px; background:url('../images/meniu-jos.png') no-repeat top left;}


/* IE Fixes */
.stack { _position: absolute; }
.stack ul { _z-index:-1; _top:-15px; }
.stack ul li { *right:5px; }

