@charset "iso-8859-2";
/* CSS Document */

body {
    color: #fffcde;
    font-family: Tahoma;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none; /*	border:#f0f0f1 1px solid;*/
    background-color: #fffcde;
}


a, a:link, a:visited, a:active {
    color: #555658;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}

.versiuneBeta {
    position: relative;
    float: right;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

    .versiuneBeta:hover {
        -webkit-filter: blur(2px);
    }
/*  partea de login  */
div#container {
    background-color: #fffcde;
    padding: 17px;
    position: relative;
    width: 600px;
    height: auto;
    border: 0px double #5a540b;
    margin: 0 auto;
    text-align: center;
    display: block;
}

div#logo_login {
    background-image: url(../Imagini/logo_login.png);
    background-repeat: no-repeat;
    width: 606px;
    height: 150px;
    position: relative;
    border: 0px solid black;
    display: inherit;
    margin: 0 auto;
    text-align: center;
}

div.background_login {
    background-color: #b3afaf;
    font-size: 18px;
    font-weight: bold;
    color: #555658;
    text-align: left;
    position: relative;
    overflow: hidden;
    border: 3px double #5a540b;
    display: block;
    width: 100%;
    height: auto;
}

.campuri_login_container {
    margin: 2%;
    text-align: center;
    width: 96%;
}

.campuri_login {
    height: auto;
    margin: 10px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

div.campuri_login span {
    width: 170px;
}

.background_login input {
    background-color: #fefed6;
    border: 1px double #555658;
    width: 300px;
    height: 30px;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    position: relative;
    overflow: hidden;
}

    .background_login input[type="text"], .background_login input[type="password"] {
        -moz-border-radius: 5em/5em;
        border-radius: 5em/5em;
        padding: 0 1em 0 1em;
    }

.background_login span {
    float: left;
    width: 120px;
    position: relative;
    bottom: 0px;
    background-color: #b3afaf;
}

div.autentifica_login {
    width: 500px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    display: inline-block;
    border: yellow 0px solid;
}

div.buton_login {
    display: block;
    position: relative;
    border: #FFF solid 0px;
    height: 40px;
    overflow: visible;
}

.buton_login input {
    background-image: url(../imagini/buton_login_0.png);
    background-repeat: no-repeat;
    background-color: #b3afaf;
    font: Tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    height: 40px;
    border: 0;
}

    .buton_login input:hover {
        background-image: url(../imagini/buton_login_1.png);
        color: #FED2CB;
        top: 2px;
    }

div.login_tineminte {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 1.2em;
    border: 0px solid black;
    font-weight: normal;
    font-size: 14px;
}

span.login_tineminte {
    display: inline-block;
    position: relative;
    bottom: 0;
    margin: 0;
    width: 150px;
    border: 0px solid blue;
    float: left;
    text-align: left;
}

.login_tineminte input {
    position: relative;
    float: left;
    display: inline-block;
    width: 14px;
    display: inline-block;
    border: 0px red solid;
    height: 14px;
    background-color: #b3afaf;
}

.login_tineminte label {
    width: 120px;
    left: 0px;
}

.login_tineminte input[type="checkbox"] {
    -moz-appearance: none; /* background-color: red;*/
    color: white;
}

.spatiu_orizontal {
    height: 20px;
    width: 100%;
}
/* final partea de login + pentru IE7- in netcontaIE.css*/

/*
    actualizare date utilizator
*/
.background_login span#lblMesaj1 {
    font-size: 18px;
    color: White;
    font-weight: bold;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    clear: both;
}

.background_login span#lblMesaj2 {
    font-size: 14px;
    color: White;
    font-weight: bold;
    width: 100%;
    text-align: center;
    clear: both;
}

.stiri {
    margin: 0 auto;
    width: 500px;
    height: auto;
    text-align: center;
}

    .stiri img {
        border: 0;
    }

    .stiri h2 {
        margin: 0;
        padding: 0;
        color: #474105;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    .stiri p, .stiri span {
        color: #474105;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
    }

        .stiri p a, .stiri span a {
            text-decoration: underline;
        }
