﻿body {
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #676C46;
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

p {
    text-align: left;
}

.panel_general {
    margin: 0 auto;
    text-align: center;
    width: 98%;
    position: relative;
    display: block;
}

.invelitoare {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: auto;
    min-height: 500px;
    background: url('../Imagini/fundal-registrul-agricol-antet.png') repeat-x left top;
    background-repeat: repeat-x;
    padding: 0;
    margin: 0;
    min-width: 1000px;
}
/* sigla */
.antet {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: auto;
    min-height: 100px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background: url('../Imagini/sigla-registrul-agricol-antet.png') no-repeat left top;
}

/* loading */
div.loading_0 {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 100%;
    z-index: 150000;
}

div.loading {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background: Gray;
    opacity: 0.27;
    filter: alpha(opacity=27);
    z-index: 150000;
}

div.loading_0 div.imagini {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    z-index: 150000;
}

div.imagini img {
    z-index: 100001;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -150px;
}

/* mijloc */
.continut_mijloc {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    min-height: 500px;
    padding: 0;
    margin: 0;
    top: 0;
}
/* url */
h1 {
    padding: 0 0 10px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 500px;
}
/* gospodarie */
.gospodarie {
    position: absolute;
    left: 0px;
    margin-top: 0px;
    border: 0px solid red;
    width: 500px;
    height: 36px;
    text-align: left;
    padding-left: 10px;
    font-size: 11px;
    font-weight: normal;
}
/* mesaje invalidare link */
.mesaje_invalidare {
    position: absolute;
    margin-right: 0px;
    right: 10px;
    width: 200px;
    height: 30px;
    text-align: right;
    padding-left: 20px;
    font-size: 11px;
    font-weight: normal;
}

    .mesaje_invalidare .validator {
        font-size: 1em;
        font-weight: bold;
        color: #fffdde;
        width: auto;
        text-align: left;
        background-color: #f35304;
        border-bottom: 3px double #5a540b;
        border-top: 3px double #5a540b;
        padding: 0px 10px;
        height: 1.9em;
    }
/* centalizatoare - rapoarte */
div.centralizatoare {
    margin: 0;
    font-size: 14px;
    height: 30px;
    line-height: 20px;
    padding: 2px;
    vertical-align: middle;
    text-align: left;
    padding-bottom: 5px;
}

    div.centralizatoare select {
        border: 1px solid #5a540b;
        margin: 0;
        font-size: 14px;
        height: 30px;
        line-height: 20px;
        padding: 2px;
        vertical-align: middle;
        text-align: left;
    }

    div.centralizatoare a, div.centralizatoare a:link {
        font-size: 1em;
        font-weight: normal;
        color: #676C46;
        text-align: left;
        padding: 5px;
        line-height: 1.9em;
        width: 1000px;
        text-decoration: none;
        float: left;
        clear: both;
    }

        div.centralizatoare a:hover {
            background: Gray;
            color: #fffdde;
        }

/* adeverinte */
/*  -- stiluri generale -- */
table.adev_subsoluri {
    width: 98%;
    height: auto;
    border: 0px;
}

    table.adev_subsoluri td {
        width: 200px;
        height: auto;
        border: 0px;
    }

    table.adev_subsoluri tr.rand1 {
    }

    table.adev_subsoluri tr.rand1 {
    }

    table.adev_subsoluri tr.rand2 {
    }

    table.adev_subsoluri tr.rand_antet {
    }

.adauga p .rand1 {
    font-size: 1em;
    height: 1.4em;
    border: 1px solid #ececec;
    line-height: 1.4em;
    text-align: center;
    width: 250px;
}

.adauga p .rand2 {
    font-size: 1.2em;
    font-weight: bold;
    height: 1.9em;
    border: 1px solid #ececec;
    line-height: 1.9em;
    text-align: center;
    width: 250px;
}

.adauga p .rand_antet {
    font-size: 1em;
    height: 1.4em;
    border: 1px solid #ececec;
    line-height: 1.4em;
    text-align: left;
    width: 250px;
}

.adauga p .rand1_sablon {
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #ececec;
    line-height: 1.9em;
    text-align: center;
    width: 650px;
}

.adauga p .rand1_sablon_titlu {
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #ececec;
    line-height: 1.9em;
    text-align: center;
    width: 650px;
    height: 2.1em;
}

.adauga p .rand2_sablon {
    font-size: 1em;
    font-weight: normal;
    border: 1px solid #ececec;
    line-height: 1.4em;
    text-align: justify;
    width: 650px;
    float: left;
}

.adauga p input.rand3 {
    font-size: 0.8em;
    height: 1.2em;
    border: 1px solid #ececec;
    line-height: 1.2em;
    text-align: center;
    width: 250px;
}
/* -- stiluri particulare -- */
.subsol_1 {
    font-size: 12px;
    text-align: center;
}

.subsol_2 {
    font-size: 14px;
    text-align: center;
}

.subsol_3 {
    font-size: 16px;
    text-align: center;
}

.subsol_4 {
    font-size: 18px;
    text-align: center;
}
/* -- cu html -- */
div.adeverinta_antet {
    width: 700pt;
    text-align: justify;
    margin: 0 auto;
    padding: 40pt 0 40pt 0;
    font-size: 16pt;
    line-height: 20pt;
    position: relative;
    border: 0px solid red;
}

table.adeverinta_antet {
    width: 700px;
    text-align: left;
    margin: 0 auto;
    padding: 0pt 0 0pt 0;
    position: relative;
    border: 0px solid red;
    color: Black;
    font-size: inherit;
    clear: both;
}

    table.adeverinta_antet tr td {
        position: relative;
    }

    table.adeverinta_antet p {
        padding: 0;
        margin: 0;
    }

img.imagine {
    position: relative;
    overflow: visible;
}

img.o_coloana {
    position: relative;
    margin: 0 auto;
    overflow: visible;
}

img.doua_coloane {
    position: relative;
    margin: 0 auto;
    overflow: visible;
}

img.trei_coloane {
    position: relative;
    margin: 0 auto;
    overflow: visible;
}

div.adev_general {
    position: relative;
    width: 700px;
    color: Black;
    font-family: Arial;
    float: none;
    clear: both;
}

div.adev_rand {
    position: relative;
    width: 700px;
    clear: both;
    float: left;
}

div.adev_1col_mijloc, table tbody tr td.adev_1col_mijloc {
    width: 100%;
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

div.adev_2col_stanga, table tbody tr td.adev_2col_stanga {
    width: 50%;
    text-align: left;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

div.adev_2col_dreapta, table tbody tr td.adev_2col_dreapta {
    width: 50%;
    text-align: right;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

div.adev_3col_stanga, table tbody tr td.adev_3col_stanga {
    text-align: left;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

div.adev_3col_mijloc, table tbody tr td.adev_3col_mijloc {
    text-align: center;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

div.adev_3col_dreapta, table tbody tr td.adev_3col_dreapta {
    text-align: right;
    padding: 0;
    margin: 0;
    vertical-align: top;
}



table.adev_antet_tabel {
    width: auto;
    position: relative;
}

    table.adev_antet_tabel tr td {
        text-align: justify;
        margin: 0 auto;
        padding: 0;
        font-size: 12px;
        position: relative;
        border: 0px solid red;
    }

        table.adev_antet_tabel tr td img, div.adev_antet_tabel img {
            max-width: 50px;
            max-height: 50px;
        }

        table.adev_antet_tabel tr td p {
            margin: 0 auto;
            padding: 0;
            font-size: 12px;
        }

div.adeverinta_antet_stanga {
    width: 345pt;
    border: 0px solid red;
    display: inline-block;
    float: left;
    height: auto;
}

div.adeverinta_antet_dreapta {
    width: 345pt;
    border: 0px solid red;
    display: inline-block;
    float: left;
    height: auto;
    text-align: right;
}

div.adeverinta_antet_o_coloana {
    border: 0px solid blue;
    width: 690pt;
    text-align: center;
    margin: 0 auto;
    border: 0px solid red;
    display: inline-block;
    height: auto;
}

.legenda {
    font-size: 14px;
    color: Black;
    text-align: left;
}

textarea.legenda {
    text-align: left;
    float: left;
    width: 1000px;
}

div.adeverinta_subsol {
    width: 700pt;
    margin: 32pt auto;
    padding: 0;
    border: 0px solid blue;
    text-align: center;
}

span.adeverinta_text {
}

div.adeverinta_subsol_stanga {
    width: 233pt;
    border: 0px solid red;
    display: inline-block;
    float: left;
    height: auto;
}

div.adeverinta_subsol_mijloc {
    width: 233pt;
    border: 0px solid red;
    display: inline-block;
    float: left;
    height: auto;
}

div.adeverinta_subsol_dreapta {
    width: 233pt;
    border: 0px solid red;
    display: inline-block;
    float: left;
    height: auto;
}

div.adeverinta_subsol .rand_1 {
}

div.adeverinta_subsol .rand_2 {
}

div.adeverinta_subsol .rand_3 {
}

div.adeverinta_titlu {
    border: 0px solid red;
    width: 700pt;
    clear: both;
    text-align: center;
    margin: 0 auto;
}

div.adeverinta_text, div.adeverinta_text p {
    border: 0px solid red;
    width: 700pt;
    clear: both;
    text-align: left;
    margin: 0 auto;
}

.adauga p span.camp_necunoscut {
    font-weight: bold;
    font-style: italic;
}

div.adeverinta_text p span.camp_tiparit {
    width: 700pt;
    clear: both;
    text-align: justify;
    margin: 0 auto;
}

.gv_adeverinte {
    text-align: left;
    width: 100%;
    border-top: 3px double #5a540b;
    border-bottom: 0px solid #5a540b;
}

    .gv_adeverinte input {
        border: 1px solid #5a540b;
        margin: 5px 20px;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        padding: 2px;
        vertical-align: middle;
        width: 600px;
    }

    .gv_adeverinte span {
        margin: 5px 20px;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        padding: 2px;
        vertical-align: middle;
        width: 200px;
        float: left;
    }

.emblema {
    position: absolute;
    top: 0;
    left: 300pt;
}

/* ASCUNSA */
.ascunsa {
    display: none;
    visibility: hidden;
}

/* NU AVETI DREPTURI */
.nu_aveti_drepturi {
    width: 500px;
    height: 300px;
    padding: 100px;
    color: Red;
    font-size: 27px;
    font-weight: bold;
}

/* MESAJE CORELATII */
span.mesaj_1 {
    font-weight: bold;
}

span.mesaj_2 {
    color: Red;
}

/* TABELA - se aplica la GridView */
.tabela {
    width: 100%;
    border: 1px solid #5a540b;
    margin: 20px auto;
    text-align: center;
}

    .tabela td {
        padding: 2px;
        border: 1px solid #5a540b;
    }

    .tabela th {
        border-top: 3px double #5a540b;
        border-bottom: 1px solid #5a540b;
        padding: 0px 0 0 0;
        margin: 0 auto 10px auto;
        text-align: center;
        background-color: #fffdde;
        padding: 5px 0;
        margin: 0 0 5px 0;
        border-bottom: 3px double #5a540b;
        color: #5a540b;
    }

.rand_selectat {
    background-color: #5a540b;
    color: #fffdde;
    font-weight: bold;
}

.tabela a {
    color: #252305;
}

.tabela td input {
    border: 1px solid #5a540b;
    margin: 0;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 2px;
    vertical-align: middle;
}



/* TABELA CAPITOLE - se aplica la GridView */
.tabela_capitole {
    width: 100%;
    border: 1px solid #5a540b;
    margin: 20px auto;
    text-align: center;
}

    .tabela_capitole td {
        padding: 0px;
        border: 1px solid #5a540b;
    }

    .tabela_capitole th {
        border-top: 3px double #5a540b;
        border-bottom: 1px solid #5a540b;
        padding: 0px 0 0 0;
        margin: 0 auto 10px auto;
        text-align: center;
        background-color: #fffdde;
        padding: 5px 0;
        margin: 0 0 5px 0;
        border-bottom: 3px double #5a540b;
        color: #5a540b;
    }

    .tabela_capitole a {
        color: #252305;
    }

    .tabela_capitole td input {
        border: 0px solid #5a540b;
        width: 98%;
        margin: 0;
        font-size: 14px;
        height: 20px;
        margin: 0;
        padding: 0px;
        vertical-align: middle;
    }




/* TABELACORELATII ADAUGARE */
.tabelaCorelatii {
    width: 450px;
    border: 0px solid #5a540b;
    margin: 0px;
    text-align: center;
}

    .tabelaCorelatii td {
        padding: 2px;
        border: 0px solid #5a540b;
    }

    .tabelaCorelatii th {
        border-top: 3px double #5a540b;
        border-bottom: 1px solid #5a540b;
        padding: 0px 0 0 0;
        margin: 0 auto 10px auto;
        text-align: center;
        background-color: #fffdde;
        padding: 5px 0;
        margin: 0 0 5px 0;
        border-bottom: 3px double #5a540b;
        color: #5a540b;
    }

    .tabelaCorelatii a {
        color: #252305;
    }

    .tabelaCorelatii td input {
        border: 1px solid #5a540b;
        margin: 0;
        font-size: 14px;
        height: 20px;
        width: 100px;
        line-height: 20px;
        padding: 2px;
        vertical-align: middle;
    }

    .tabelaCorelatii td select {
        border: 1px solid #5a540b;
        margin: 0;
        font-size: 14px;
        height: 30px;
        line-height: 20px;
        padding: 2px;
        vertical-align: middle;
    }


/* filtrare - cautare */
.cauta {
    width: 100%;
    border-top: 3px double #fffdde;
    border-bottom: 3px double #fffdde;
    padding: 0px;
    margin: 0 auto;
    text-align: left;
    background-color: #5a540b;
    color: #fffdde;
    height: 36px;
}

    .cauta input {
        border: 1px solid #fffdde;
        margin: 7px;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        padding: 0px;
        vertical-align: middle;
    }

    .cauta span {
        border-right: 0px solid #fffdde;
        margin: 0px 0 0 5px;
        font-size: 14px;
        height: 20px;
        line-height: 33px;
        padding: 0px;
        vertical-align: middle;
    }

    .cauta select {
        border: 1px solid #5a540b;
        margin: 0;
        font-size: 14px;
        height: 30px;
        line-height: 20px;
        padding: 2px;
        vertical-align: middle;
        text-align: left;
    }

/* ADAUGA DATE - se aplica la un Panel in care intra text boxuri */
.adauga {
    width: 100%;
    border-top: 3px double #5a540b;
    border-bottom: 1px solid #5a540b;
    padding: 0px 0 0 0;
    margin: 0 auto 10px auto;
    text-align: left;
}

    .adauga h2 {
        font-size: 17px;
        width: 100%;
        background-color: #fffdde;
        padding: 5px 0;
        margin: 0 0 5px 0;
        border-bottom: 3px double #5a540b;
        color: #5a540b;
        text-align: center;
    }

    .adauga p {
        font-size: 14px;
        text-align: justify;
        width: 100%;
        vertical-align: middle;
        margin: 3px 0;
    }

    .adauga .in_linie {
        display: inline-block;
        float: left;
        width: auto;
        height: auto;
        text-align: left;
    }

    .adauga .bloc {
        display: block;
        width: auto;
        height: 30px;
    }

    .adauga p span {
    }

    .adauga p input, .adauga .bloc input, .adauga .in_linie input {
        border: 1px solid #5a540b;
        margin: 0 20px 0 0;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        padding: 2px;
        vertical-align: middle;
    }

    .adauga p select, .adauga .bloc select, .adauga .in_linie select {
        border: 1px solid #5a540b;
        margin: 0 20px 0 0;
        font-size: 14px;
        height: 26px;
        line-height: 20px;
        padding: 2px;
        vertical-align: middle;
    }
/*, .adauga div  select*/
/*.adauga select { border:1px solid #5a540b; margin: 0 20px 0 0; font-size:18px; height:46px; line-height:20px; padding:2px; vertical-align:middle; margin:0 auto; }*/
/* BUTON */
.buton {
    background: url('../Imagini/buton.png') repeat-x top left;
    height: 46px;
    border: 3px double #5a540b;
    padding: 0 10px;
    color: #fffdde;
    font-size: 17px;
    font-weight: bold;
    margin: 10px;
}

    .buton:hover {
        background: url('../Imagini/buton-hover.png') repeat-x top left;
        color: #5a540b;
    }

    .buton:disabled {
         background: url('../Imagini/buton-inactiv.png') repeat-x top left;
        color: #5a540b;
    }
    .buton:enabled {
          background: url('../Imagini/buton.png') repeat-x top left;
    }

/* buton secundar */
.buton_secundar {
    background: url('../Imagini/buton-secundar.png') repeat-x top left;
    height: 25px;
    border: 1px solid #5a540b;
    padding: 0 10px;
    color: #fffdde;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

    .buton_secundar:hover {
        background: url('../Imagini/buton-secundar-hover.png') repeat-x top left;
        color: #5a540b;
    }

.butoane_secundare {
    border-top: 1px solid #5a540b;
    width: 60%;
    padding: 10px;
    position: relative;
    margin: 0;
    text-align: left;
}

.butoane {
    clear: both;
    border-top: 1px solid #5a540b;
    width: 100%;
    padding: 0px;
    position: relative;
    text-align: left;
    top: 0px;
    left: 0px;
}

/*  EROARE - VALIDATOR */
.validator {
    font-size: 0.8em;
    font-weight: bold;
    color: #fffdde;
    width: auto;
    text-align: left;
    background-color: #f35304;
    border-bottom: 3px double #5a540b;
    border-top: 3px double #5a540b;
    padding: 0px 10px;
    height: 3em;
}

.rosu {
    background-color: #f35304;
}

.verde {
    background-color: Green;
}

.galben {
    background-color: Yellow;
    color: Black;
}

/* header */
/**meniu  */
.continut_meniu {
    position: relative;
    width: 800px;
    text-align: center;
    height: auto;
    min-height: 80px;
    padding: 0;
    margin: 0;
    z-index: 100000;
}

#navbar {
    position: absolute;
    top: 20px;
    left: 310px;
    margin: 0;
    padding: 0;
}

    #navbar li {
        list-style: none;
        float: left;
        background: #5a540b;
        margin: 0 10px 0 0;
    }

        #navbar li a {
            display: block;
            padding: 25px 12px 12px 12px;
            /*text-transform: uppercase;*/
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            border-top: 3px double #fffdde;
        }

            #navbar li a:hover {
                color: #fffdde;
            }

        #navbar li ul {
            display: none;
            background: #fffdde;
            border: 3px double #5a540b;
            border-top: 0px;
        }

        #navbar li:hover ul, #navbar li.hover ul {
            position: absolute;
            display: inline;
            left: 0px;
            right: 0px;
            width: 520px;
            margin: 0;
            padding: 0;
        }

        #navbar li:hover li, #navbar li.hover li {
            float: left;
            background: #fffdde;
            padding: 0;
            width: 100px;
            text-align: left;
            font-size: 12px;
            font-weight: normal;
        }

            #navbar li:hover li a, #navbar li.hover li a {
                color: #000;
                padding: 5px;
                padding-bottom: 5px;
            }

        #navbar li li a:hover {
            color: #357;
        }

.lista_categorii {
    text-align: left;
    border: 1px solid #5A540B;
}

    .lista_categorii label {
        display: inline;
    }

.x {
    color: #5a540b;
}

.y {
    color: #5a540b;
    background-color: #e4d931;
}

p.ora input {
    margin: 0;
}

.checkboxuri label {
    display: inline-block;
}

.stanga {
    text-align: left;
}

.dreapta {
    text-align: right;
}

div.adeverinta_antet_stanga p, div.adeverinta_antet_dreapta p {
    float: none;
    clear: both;
    margin: 0;
    width: 100%;
}

.pozitie {
    position: relative;
}

table.pozitie tr td {
    position: relative;
    text-align: left;
    width: 120px;
    vertical-align: top;
}

    table.pozitie tr td img {
        position: relative;
        z-index: 0;
    }

    table.pozitie tr td span {
        position: absolute;
        padding: 5px;
        z-index: 1;
        font-family: Georgia;
        font-size: 17px;
        color: White;
        border: 1px dotted Red;
        background-color: Black;
        vertical-align: top;
        top: 0;
    }


/* page break la print */
p#rupe {
    page-break-before: always;
}

div.panel_special {
    width: 1000px;
    background: #dee1d7;
    padding: 10px;
    float: none;
    text-align: left;
}

    div.panel_special input {
        border: 1px solid #5a540b;
        margin: 10px 20px 0 0;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        padding: 2px;
        vertical-align: middle;
    }

.indent {
    width: 120px;
    text-align: left;
    display: inline-block;
}

.sugereaza {
    font-size: 11px;
    color: Gray;
}

.taiata {
    text-decoration: line-through;
}

.rosie {
    color: Red;
}

.adauga .in_linie .checkbox_linie label {
    display: inline;
    margin: 0 10px 0 0px;
}

.adauga .in_linie .checkbox_linie input {
    margin: 0px 2px;
}

.adauga div.bloc {
    margin: 10px 0;
}

.clear {
    clear: both;
    display: block;
    position: relative;
    margin: 10px 0;
}


div.linie_clear {
    clear: both;
    display: block;
    position: relative;
    margin: 10px 0;
}

input {
    border: 1px solid #5a540b;
    margin: 0 20px 0 0;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 2px;
    vertical-align: middle;
}

select {
    border: 1px solid #5a540b;
    margin: 0 20px 0 0;
    font-size: 14px;
    height: 26px;
    line-height: 20px;
    padding: 2px;
    vertical-align: middle;
}

.pop_up {
    position: fixed;
}

.popupPanel {
    background-color: #fff;
    position: fixed;
    width: 90%;
    height: 500px;
    padding: 1%;
    border: 3px double #5a540b;
    margin: 0%;
    text-align: center;
    top: 2%;
    left: 3%;
    z-index: 10000001;
    opacity: 1;
    filter: alpha(opacity=100);
    min-width: 800px;
    min-height: 450px;
}

.popupBack {
    background-color: #C5C3C3;
    opacity: 0.7;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
}

.popupPanelAn {
    background-color: #fff;
    position: fixed;
    width: 50%;
    height: 150px;
    padding: 1%;
    border: 3px double #5a540b;
    margin: 0%;
    text-align: center;
    top: 10%;
    left: 25%;
    z-index: 10000001;
    opacity: 1;
    filter: alpha(opacity=100);
    min-width: 300px;
    min-height: 150px;
}

.footer {
    background: #FFFDDE;
    color: Gray;
    font-weight: bold;
}

/* steaguri limbi*/
.steaguri {
    width: auto;
    position: absolute;
    z-index: 1000000;
    top: 0;
    text-align: right;
    margin: 0;
    right: 20px;
}


a.lkbRo span {
    background: url('../Imagini/steaguri/ro-RO.png') no-repeat;
    margin: 5px;
    border: 1px solid #322a1c;
    width: 48px;
    height: 24px;
    float: left;
    z-index: 1000;
}

a.lkbHu span {
    background: url('../Imagini/steaguri/hu-HU.png') no-repeat;
    padding: 0px;
    margin: 5px;
    border: 1px solid #322a1c;
    width: 48px;
    height: 24px;
    float: left;
}

a.lkbEn span {
    background: url('../Imagini/steaguri/en-EN.png') no-repeat;
    padding: 0px;
    margin: 5px;
    border: 1px solid #322a1c;
    width: 48px;
    height: 24px;
    float: left;
}

a.lkbFr span {
    background: url('../Imagini/steaguri/fr-FR.png') no-repeat;
    padding: 0px;
    margin: 5px;
    border: 1px solid #322a1c;
    width: 48px;
    height: 24px;
    float: left;
}

a.lkbIt span {
    background: url('../Imagini/steaguri/it-IT.png') no-repeat;
    padding: 0px;
    margin: 5px;
    border: 1px solid #322a1c;
    width: 48px;
    height: 24px;
    float: left;
}


a.lkbRo-0 span {
    background: url('../Imagini/steaguri/ro-RO-0.png') no-repeat;
    margin: 5px;
    border: 1px solid #b4b4b1;
    width: 48px;
    height: 24px;
    float: left;
    z-index: 1000;
}

a.lkbHu-0 span {
    background: url('../Imagini/steaguri/hu-HU-0.png') no-repeat;
    padding: 0px;
    margin: 5px;
    border: 1px solid #b4b4b1;
    width: 48px;
    height: 24px;
    float: left;
}

a.lkbEn-0 span {
    background: url('../Imagini/steaguri/en-EN-0.png') no-repeat;
    padding: 0px;
    margin: 5px;
    border: 1px solid #b4b4b1;
    width: 48px;
    height: 24px;
    float: left;
}

a.lkbFr-0 span {
    background: url('../Imagini/steaguri/fr-FR-0.png') no-repeat;
    padding: 0px;
    margin: 5px;
    border: 1px solid #b4b4b1;
    width: 48px;
    height: 24px;
    float: left;
}

a.lkbIt-0 span {
    background: url('../Imagini/steaguri/it-IT-0.png') no-repeat;
    padding: 0px;
    margin: 5px;
    border: 1px solid #b4b4b1;
    width: 48px;
    height: 24px;
    float: left;
}


span.eligibil {
    color: White;
    font-weight: bold;
    background: Green;
    padding: 0px 20px;
    position: relative;
    margin: 0 20px;
}

span.neeligibil {
    color: White;
    font-weight: bold;
    background: Red;
    padding: 0px 20px;
    position: relative;
    margin: 0 20px;
}

div.citat {
    border-top: 1px solid Olive;
    margin: 10px 0;
}

span.citat {
    color: Olive;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}


.validatorCenter {
    font-size: 0.8em;
    font-weight: bold;
    color: #fffdde;
    width: auto;
    text-align: center;
    background-color: #f35304;
    border-bottom: 3px double #5a540b;
    border-top: 3px double #5a540b;
    padding: 0px 10px;
    height: 3em;
}

.watermarkTextBox {
    font-style: italic;
}


.tabela:last-child td a {
    border: 0 none;
    color: red;
    font-size: 1.5em;
    font-weight: 600;
    margin: 4px;
    padding: 3px 10px;
    text-decoration: none;
    border: 0;
}
.tabela tr:last-child > td {
    border: 0px solid #5a540b;
}