ul.menu {list-style:none; margin:0; padding:0;
    left: 290px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 21px;

}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; text-decoration:none;
    border-top: 3px double #FFFDDE;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 25px 7px 12px;
    text-decoration: none;
    }
ul.menu li {position:relative; float:left; 
    background: none repeat scroll 0 0 #5A540B;
    float: left;
    list-style: none outside none;
    margin: 0 2px 0 0;
    border:0;}
ul.menu ul {position:absolute; top:53px; left:0; background:#FFFDDE; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#FFFDDE; color:#5A540B;}
ul.menu ul li a:hover {background-color:#F35304; color:#5A540B;}
ul.menu ul ul {left:148px; top:-1px}
ul.menu .menulink {border:0px solid #aaa; padding:padding: 25px 7px 12px; font-weight:bold;}
ul.menu .menulink:hover, ul.menu .menuhover {background:#F35304; color:White;}
ul.menu .sub {background:#FFFDD2 url(images/arrow.gif) 136px 8px no-repeat; color:#5A540B;}
ul.menu .topline {border-top:1px solid #aaa}

