﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="adevTiparesteAdeverinta.aspx.cs"
    Inherits="adevTiparesteAdeverinta"  Culture="ro-RO" UICulture="ro-RO"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="css/master.css" rel="stylesheet" type="text/css" />
</head>
<body onload="window.print();">
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblText" runat="server" Text="Label"></asp:Label>
    </div>
    <br />
    <br />
    <hr width="100%" align="center" id="hr" runat="server" />
    <p runat="server" id="rupe" visible="false"></p>
    <div>
        <asp:Label ID="lblText1" runat="server" Text="Label"></asp:Label>
    </div>
    <br />
    <br />
    </form>
</body>
</html>
