﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="capitolCorect.aspx.cs" Inherits="capitolCorect" UICulture="ro-RO" Culture="ro-RO" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="url" Runat="Server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Button ID="Button1" runat="server" Text="Scoate lista capitol corect" 
        onclick="Button1_Click" />
Capitol: <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
<br/>
<asp:Button ID="Button2" runat="server" Text="Verifica capitole pentru unitatea:" 
        onclick="Button2_Click" />
<asp:TextBox ID="TextBox2" runat="server"></asp:TextBox> | anul: <asp:TextBox ID="tbAn" runat="server"></asp:TextBox>
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>

<br />
<asp:Button ID="Button3" runat="server" Visible="false" Text="Verifica pentru toate unitatile" 
        onclick="Button3_Click" />
        <asp:Button ID="Button4" runat="server" Visible="true" Text="Verifica capitole zero" 
        onclick="Button4_Click" />

</asp:Content>

