﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="hartaParcelaVechi.aspx.cs" Inherits="hartaParcelaVechi" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="url" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:ImageButton Width="800px" Height="600px" ID="imgMap" runat="server" Style="border: 1px solid #000;" />
</asp:Content>
