﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="noutati.aspx.cs" Inherits="noutati" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="url" runat="Server">
    <asp:Label ID="url" runat="server" Text="Noutăţi" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:Panel ID="pnl1" runat="server" Visible="true">
        <asp:Panel ID="pnTabel" runat="server" CssClass="panel_general" Visible="true">
            <asp:Panel ID="Panel1" runat="server" CssClass="centralizatoare" Visible="true">
                <p>
                    01.11.2012 - La adaugarea de adeverinte, pentru a alege un tip de adeverinta se introduce in casuta tipul adeverintei cautate sau se introduce litera a si tipurile de adeverinte vor aparea in ordine alfabetica</p>
                <p>
                
                </p>
            </asp:Panel>
        </asp:Panel>
    </asp:Panel>
</asp:Content>
