﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="NuAvetiDrepturi.aspx.cs" Inherits="NuAvetiDrepturi"  Culture="ro-RO" UICulture="ro-RO" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="url" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="lblNuAvetiDrepturi" CssClass="nu_aveti_drepturi" runat="server" Text="Nu aveți drepturi de acces în această secțiune!"></asp:Label>

</asp:Content>

