﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="printCentralizatorCapitol1Volum.aspx.cs" Inherits="printCentralizatorCapitol1Volum"   Culture="ro-RO" uiCulture="ro-RO"%>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="url" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Panel ID="pnLista" runat="server" CssClass="panel_general" Visible="true">
   <rsweb:ReportViewer ID="ReportViewer1" runat="server" Font-Names="Verdana" 
        Font-Size="8pt" Height="800px" Width="100%" Visible="false">
        <LocalReport ReportPath="rapoarte\RaportCentralizatorCapitol1Volum.rdlc">
        </LocalReport>
    </rsweb:ReportViewer>
        </asp:Panel>
</asp:Content>

