﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="reparaC2aR10C3R01.aspx.cs" Inherits="reparaC2aR10C3R01" Culture="ro-RO" UICulture="ro-RO" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="url" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:DropDownList ID="ddlUnitate" runat="server" DataSourceID="SqlDataSource1" 
        DataTextField="unitateDenumire" DataValueField="unitateId">
    </asp:DropDownList>
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:TNTRegistruAgricolConnectionString %>" 
        SelectCommand="SELECT [unitateId], [unitateDenumire] FROM [unitati]">
    </asp:SqlDataSource>
    <asp:Button ID="Button1" runat="server" Text="Button" onclick="Button1_Click" />
    <asp:Label ID="Label1" runat="server" Visible="false" Text="OK"></asp:Label>
    <asp:ListBox ID="lbGospodarii" Width="300px" Height="500px" runat="server"></asp:ListBox>
</asp:Content>

