﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="reparaAnimale.aspx.cs" Inherits="reparaAnimale" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="url" Runat="Server">
 <asp:Label ID="Label1" runat="server" CssClass="validator" Text="Repara Animale" Visible="false" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <asp:Label ID="lblEroare" runat="server" CssClass="validator" Text="Eroare" Visible="true" />
</asp:Content>

