﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="reparaAdeverinteInchidereAn.aspx.cs" Inherits="reparaAdeverinteInchidereAn" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="url" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
      <asp:Label ID="Label1" runat="server" Text="Unitatea"></asp:Label>
        <asp:DropDownList ID="ddlUnitatea" runat="server" DataSourceID="SqlDataSource1" DataTextField="unitateDenumire" DataValueField="unitateId"></asp:DropDownList>
        <asp:SqlDataSource runat="server" ID="SqlDataSource1" ConnectionString='<%$ ConnectionStrings:TNTRegistruAgricolConnectionString %>' SelectCommand="SELECT [unitateId], [unitateDenumire] FROM [unitati] ORDER BY [unitateDenumire]"></asp:SqlDataSource>
        <asp:Button ID="btSalveazaAdeverinte" runat="server" Text="Salveaza adeverinte" OnClick="btSalveazaAdeverinte_Click" />
</asp:Content>

