﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master"  AutoEventWireup="true" CodeFile="stergeGoale.aspx.cs" Inherits="stergeGoale" UICulture="ro-RO" Culture="ro-RO" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="url" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server"><br/><br/><br/><br/><br/>
<asp:Button ID="Button1" runat="server" Text="Sterge inregistrari goale pentru unitatea / anul:" 
        onclick="Button1_Click" />
<asp:TextBox ID="tbUnitatea" runat="server"></asp:TextBox> | anul: <asp:TextBox ID="tbAn" runat="server"></asp:TextBox>
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>

</asp:Content>


